<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top"><img style="width: 207px; height: 38px;" src="assets/img/yaipam-logo.png" alt="yaIPAM Logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav">
            <!--<li><a href="/">News</a></li>
            <li><a href="features.html">Features</a></li>
            <li><a href="docs.html">Docs</a></li>-->
        </ul>
    </div>

  </div>
</nav>